{% extends 'base.html' %} 
{% block content %}

<h2 class="text-center"> Fuel Requistions Listing </h2>
<div class="tg-wrap  ">

 <table class="table table-hover table-layout:fixed">
<thead class="thead-light">
  <tr>
    <th>Registration Number</th>
    <th>Requestor</th>
    <th>Vehicle Model</th>
    <th>Requstion Date</th>
    <th>Status</th>
    <th>Date Created</th>
    <th>Approved by</th>
    <th>Purpose</th>
    <th>Current Milage</th>
    <th>Amount Requested</th>
    <th>Amount Approved</th>
    <th>Approval Date</th>
    <th>Recieved by</th>
  </tr>
  </thead>
  <tbody>
  {% for fuelrequisition in fuelrequisitions %}
  <tr>
    <td>{{fuelrequisition.registration_number}}</td>
    <td>{{fuelrequisition.requestor}}</td>
    <td>{{fuelrequisition.vehicle_model}}</td>
    <td>{{fuelrequisition.requstion_date}}</td>
    <td>{{fuelrequisition.requisition_status}}</td>
    <td>{{fuelrequisition.date_created}}</td>
    <td>{{fuelrequisition.approved_by}}</td>
    <td>{{fuelrequisition.purpose}}</td>
    <td>{{fuelrequisition.current_milage}}</td>
    <td>{{fuelrequisition.amount_requested}}</td>
    <td>{{fuelrequisition.amount_approved}}</td>
    <td>{{fuelrequisition.approval_date}}</td>
    <td>{{fuelrequisition.fuel_recieved_by}}</td>

  </tr>
  {%endfor%}
  </tbody>
</table>

</div>



 {% endblock %}
